

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30vh;
}

button {
    border: 0px;
    height: 5vh;
    font-size: large;
    background-color: rgb(135, 138, 138);
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    opacity: 70%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }

button:active {

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
  }

.func-button {
    background-color: orange;

}

.main-wrapper {
    background-color: rgb(69, 69, 69);
    display: flex;
    flex-direction: column;
    padding: 35px;
    padding-top: 25px;
    width: 40vh;
    height: 30vh;
    border-radius: 5%;

} 

#top-row {
    display: flex;
    justify-content: space-between;
}

#top-row input {
    height: 5vh;
    width: 29.6vh;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    padding: 0px 8px 0px 8px;
    box-sizing: border-box; /* Add this property */

}

#top-row button{
    height: 5vh;
    width: 8.8vh;
    background-color: rgb(249, 128, 8);
    color:  rgb(254, 231, 187);
    box-sizing: border-box; /* Add this property */
}

#num-pad {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 12px;
    height: 25vh;
}

#equals {
    background-color: rgb(98, 183, 111);

}


/* .main-wrapper {
    background-color: rgb(174, 241, 164);
    border-radius: 3%;
    padding: 10px;
    margin: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    align-items: left;
    justify-content: center;
}


#num-pad {
    width: 300px;
    height: 200px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 5px;
}



#display {
    width: 218px;
    height: 30px;
}

#clear {
    width: 71px;
    height: 35px;
} */